* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Libre Baskerville", serif;
}

/* reset css */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "Libre Baskerville", serif;
  font-size: 11px;
}

button:focus,
button:active,
input:active,
input:focus,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ol,
ul,
li {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

section {
  padding: 50px 0;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #807f81;
  margin-bottom: 12px;
}

.desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: -0.01em;
  color: #807f81;
}

/* header */
.header {
  width: 100%;
  height: 100vh;
  background-color: #fdded8;
  background-image: url("./once_upon_a_dream/title0.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 250px;
}

.header-title {
  display: none;
}

.input-group {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-bottom: 30px;
}

.input-group input {
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  background-color: transparent;
  margin-right: 2px;
}

.input-group input::placeholder {
  color: #fff;
}

.input-group input:focus::placeholder {
  color: transparent;
}

.input-group button {
  width: 12px;
  height: 12px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("./once_upon_a_dream/search-button.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.header-link:last-child {
  margin-bottom: 0;
}

.header-link:hover {
  border-radius: 8px;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
    0px 11px 55px rgba(0, 0, 0, 0.07);
  transform: scale(1.2);
  transition: transform 300ms ease-in-out;
}

/* collection */
.collection img {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 32px;
}

.collection h2 {
  width: 290px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75486;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 18px;
  color: #2b292d;
}

.collection p {
  width: 290px;
  padding: 0 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2b292d;
}

/* process */
.process .row:first-child {
  margin-bottom: 32px;
}

.process .row:last-child .col-md-4 {
  margin-bottom: 20px;
}

.process h1 {
  margin-bottom: 24px;
}

.process {
  background-color: #fdded8;
}

.process-card {
  display: block;
  padding: 24px 0 32px;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.process img {
  display: block;
  width: auto;
  height: 250px;
  margin: 24px auto 16px;
}

.process-card h2 {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.33333333;
  letter-spacing: -0.02em;
  color: #2b292d;
  transition: color 500ms ease-in-out;
}

.process-card:hover,
.process-card:active {
  background-color: #fdded8;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
    0px 11px 55px rgba(0, 0, 0, 0.07);
}

.process-card:hover h2,
.process-card:active h2 {
  color: #fff;
}

/* designer */
.designer .col-md-6:first-child {
  margin-bottom: 32px;
}

.designer h2 {
  width: 290px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75486;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 18px;
  color: #2b292d;
}

.designer p {
  width: 290px;
  padding: 0 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2b292d;
}

.designer img {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 32px;
}

/* collection detail */
.collection-detail {
  width: 100%;
  height: 500px;
  overflow: auto;
  background-color: #fdded8;
}

.collection-deatil .title {
  text-align: center;
  margin-bottom: 24px;
}

.collection-deatil h2 {
  margin-bottom: 12px;
}

.collection-detail img {
  width: 290px;
  height: auto;
  text-align: center;
}

.collection-detail .row {
  margin-bottom: 48px;
}

.collection-deatil .row:last-child {
  margin-bottom: 0;
}

.collection-detail .row .col-md-8 {
  margin-bottom: 24px;
}

/* footer */
.footer {
  background-color: #fdded8;
  text-align: center;
}

.footer .title {
  margin-bottom: 28px;
}

.footer .desc {
  font-size: 8px;
}

.sns-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sns-link img {
  display: block;
  width: auto;
  height: 25px;
}

.sns-link {
  margin-right: 20px;
}

.sns-link:last-child {
  margin-right: 0;
}

.footer .row:first-child {
  margin-bottom: 36px;
}


/* >= 768px */
@media screen and (min-width: 768px) {
  .header section {
    padding: 20px 0;
  }

  .header {
    background-image: url("./once_upon_a_dream/desktop-title.jpg");
    background-size: cover;
    background-position: center center;
  }

  .header h1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .header-title {
    display: inline-block;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.375;
    letter-spacing: -0.01em;
    color: #fff;
    text-align: right;
    margin-bottom: 50px;
  }

  .header-navigator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .header-link {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .header-links {
    justify-content: center;
    text-align: left;
  }

  .header-link {
    font-size: 18px;
  }

  .input-group {
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 80px;
  }

  .input-group input::placeholder {
    font-size: 13px;
  }

  .input-group button {
    width: 18px;
    height: 18px;
  }

  /* collection */

  section {
    padding: 50px 0;
  }

  .collection .col-md-6:last-child {
    padding-left: 80px;
  }

  .collection img {
    margin-bottom: 0;
  }

  .collection h2 {
    width: 320px;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.36363636;
    letter-spacing: -0.04em;
    color: #2b292d;
    margin-bottom: 24px;
  }

  .collection p {
    width: 320px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #2b292d;
  }

  /* process */
  .process {
    background-color: #fdded8;
  }

  .process-card {
    width: 290px;
    background-color: #fff;
  }

  .process-card h2 {
    font-size: 20px;
    line-height: 1.2;
  }

  /* designer */
  section {
    padding: 50px 0;
  }

  .designer .col-md-6:first-child {
    margin-bottom: 0;
  }

  .designer img {
    margin-bottom: 0;
  }

  .designer h2 {
    width: 320px;
    padding: 0 auto;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.36363636;
    letter-spacing: -0.04em;
    color: #2b292d;
    margin-bottom: 24px;
  }

  .designer p {
    width: 320px;
    padding: 0 auto;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #2b292d;
  }

  /* collection-detail */
  .collection-detail {
    width: 100%;
    height: 500px;
    overflow: auto;
    background-color: #fdded8;
  }

  .collection-deatil .title {
    text-align: left;
    margin-bottom: 24px;
  }

  .detail-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .collection-detail img {
    width: 320px;
    height: auto;
    text-align: center;
  }

  .collection-deatil .row:first-child {
    margin-bottom: 24px;
  }

  .collection-detail .row {
    margin-bottom: 24px;
  }

  .collection-detail .col-md-4 {
    padding-left: 30px;
  }

  /* footer */
  .footer .title {
    font-size: 24px;
    margin-bottom: 28px;
  }
  
  .sns-link img {
    height: 30px;
  }
  
  .sns-link {
    margin-right: 35px;
  }
  
  .sns-link:last-child {
    margin-right: 0;
  }
  
  .footer .row:first-child {
    margin-bottom: 35px;
  }

}

/* custom grid system - fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
